<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#clear').click(function(){
				$('#results').empty();
			});
		});
	</script>
<style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3{
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
  }
  .nav-tabs li a {
      color: #777;
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }

table {
      width: 400px;
      float: left;
      margin: 30px 30px;
  }

  </style>
</head>

<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">CS329E</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('about')}}">About Us</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
		  </ul>
		</div>
	  </div>
	  </nav>

	<div class = "text-center title">
			<br>
			<h1>About Us</h1>
			<p class = "lead">"Learn more about this site's creators!!" </p>
		</div>
	<hr>
	
	<div class="row">
    		<div class="col-md-6"> 
		<table border="1" width="100" style="margin-left:30%;float:top;"> 
            			<tr>
                			<th COLSPAN = "2">
						<h3><br/>Josh Ke<h3>
					</th>
            			</tr>
				<tr>
                			<td>Description</td>
					<td>Josh is a 4th year Mathematics major from Frisco, TX. After graduation, he hopes to become a data scientist. In his free time he enjoys playing guitar.</td>
            			</tr>
				<tr>
                			<td>Responsibilities:</td>
					<td> Back end & Front end </td>
            			</tr>
				<tr>
                			<td>Issues:</td>
					<td> 30 </td>
            			</tr>
				<tr>
                			<td>Commits:</td>
					<td> 54 </td>
            			</tr>
				<tr>
                			<td>Unit Tests:</td>
					<td> 4 </td>
            			</tr>
        		</table>

		 </div>
    		<div class="col-md-6"> <img src="{{ url_for('static',filename='images/josh.jpg') }}" style="width:300px;height:300px;"/> </div> 
	</div>
	
	<hr>
	<div class="row">
    		<div class="col-md-6"> 
		<table border="1" width="100" style="margin-left:30%;float:top;"> 
            			<tr>
                			<th COLSPAN = "2">
						<h3><br/>Sai Athota<h3>
					</th>
            			</tr>
				<tr>
                			<td>Description</td>
					<td>Sai is a 4th year MIS & Mathematics major from Frisco, TX. After graduation, he will be a consultant at PwC. He's very passionate about the automotive industry.</td>
            			</tr>
				<tr>
                			<td>Responsibilities:</td>
					<td> Technical report and attempted to help/minor tasks </td>
            			</tr>
				<tr>
                			<td>Issues:</td>
					<td> 12 </td>
            			</tr>
				<tr>
                			<td>Commits:</td>
					<td> 20 </td>
            			</tr>
				<tr>
                			<td>Unit Tests:</td>
					<td> 1 </td>
            			</tr>
        		</table>

		 </div>
    		<div class="col-md-6"> <img src="{{ url_for('static',filename='images/sai.png') }}" style="width:300px;height:300px;"/> </div> 
	</div>

	<hr>

	<div class="row">
    		<div class="col-md-6"> 
		<table border="1" width="44" style="margin-left:30%;float:top;"> 
            			<tr>
                			<th COLSPAN = "2">
						<h3><br/>Patrick Zhu<h3>
					</th>
            			</tr>
				<tr>
                			<td>Description</td>
					<td>Patrick is a senior at UT Austin studying Computer Engineering. He enjoys sports, coding, and nature.</td>
            			</tr>
				<tr>
                			<td>Responsibilities:</td>
					<td> Team Lead: Back end & Front end </td>
            			</tr>
				<tr>
                			<td>Issues:</td>
					<td> 30 </td>
            			</tr>
				<tr>
                			<td>Commits:</td>
					<td> 85 </td>
            			</tr>
				<tr>
                			<td>Unit Tests:</td>
					<td> 3 </td>
            			</tr>
        		</table>

		 </div>
    		<div class="col-md-6"> <img src="{{ url_for('static',filename='images/patrick.jpg') }}" style="width:300px;height:300px;"/> </div> 
	</div>


	<hr>
	
	<div class="row">
    		<div class="col-md-6"> 
		<table border="1" width="100" style="margin-left:30%;float:top;"> 
            			<tr>
                			<th COLSPAN = "2">
						<h3><br/>Lydia Yu<h3>
					</th>
            			</tr>
				<tr>
                			<td>Description</td>
					<td>Lydia is a 4th year Finance major from Dallas, TX. After graduation, she hopes to become a trader. In her free time she enjoys dancing, reading, and nature.</td>
            			</tr>
				<tr>
                			<td>Responsibilities:</td>
					<td> Front end </td>
            			</tr>
				<tr>
                			<td>Issues:</td>
					<td> 30 </td>
            			</tr>
				<tr>
                			<td>Commits:</td>
					<td> 31 </td>
            			</tr>
				<tr>
                			<td>Unit Tests:</td>
					<td> 2 </td>
            			</tr>
        		</table>

		 </div>
    		<div class="col-md-6"> <img src="{{ url_for('static',filename='images/lydia.jpg') }}" style="width:300px;height:300px;"/> </div> 
	</div>

	<hr>
	<div class="row">
    		<div class="col-md-6"> 
		<table border="1" width="100" style="margin-left:30%;float:top;"> 
            			<tr>
                			<th COLSPAN = "2">
						<h3><br/>Paul Tan<h3>
					</th>
            			</tr>
				<tr>
                			<td>Description</td>
					<td>Paul is a 4th year Petroleum Engineering major from Houston, TX. In his free time he enjoys sports, trolling, and nature. </td>
            			</tr>
				<tr>
                			<td>Responsibilities:</td>
					<td> Attempted to help and did minor tasks </td>
            			</tr>
				<tr>
                			<td>Issues:</td>
					<td> 5 </td>
            			</tr>
				<tr>
                			<td>Commits:</td>
					<td> 16 </td>
            			</tr>
				<tr>
                			<td>Unit Tests:</td>
					<td> 1 </td>
            			</tr>
        		</table>

		 </div>
    		<div class="col-md-6"> <img src="{{ url_for('static',filename='images/paul.jpg') }}" style="width:300px;height:300px;"/> </div> 
        
	</div>
	<hr>
	<div class = "text-center title">
		<h1>Stats</h1>
			<p>Total number of commits: 205</p>
			<p>Total number of issues: 107 </p>
			<p>Total number of unit tests: 11 </p>
			<p><a href="https://gitlab.com/patrickzhu7/cs329e-idb/issues">GitLab Issue Tracker</a></p>
			<p><a href="https://gitlab.com/patrickzhu7/cs329e-idb">GitLab Repo</a></p>
			<p><a href="https://gitlab.com/patrickzhu7/cs329e-idb/wikis/pages">GitLab Wiki</a></p>
			<p><a href="https://speakerdeck.com/pzhu/cs329e">Speakerdeck</a></p>
	</div>

	<hr/>
	<div class="text-center title">
		<h1>Data</h1>
		<p><a href="http://www.cs.utexas.edu/~fares/cs329ef18/CS%20373_files/tutorials/books.json">Books</a></p>
	</div>
	<hr/>
	<div class="text-center title">
		<h1>Tools</h1>
		<p>Used tools included Python, HTML, GCP, Apache, WSGI, Virtual Environment, Flask, Flask-SQLAlchemy, etc.</p>
	</div>
	<hr/>
	<div class="text-center title">
		<h1>Unit Tests</h1>
		<br/>
		<a href="{{url_for('test')}}">Click me to run tests</a>
		<br>
		<br>
        	<input class="btn btn-info" type="button" value="Check" onclick="window.location.href = {{url_for('about')}}" />
        	<br/>
		<div id='results'>
		{%for line in results%}
            		<p>{{line}}</p>
        	{%endfor%}
		</div>
		<button id='clear'>Clear Results</button>
    	</div>


	
	
</body>
</html>


