<html>
	<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3{
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
  }
  .nav-tabs li a {
      color: #777;
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  </style>
	<script type="text/javascript">
		function sortTable(n) {
			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
			table = document.getElementById("authorsTable");
			switching = true;
			dir = "asc"; 
			while (switching) {
				switching = false;
				rows = table.getElementsByTagName("TR");
				for (i = 1; i < (rows.length - 1); i++) {
					shouldSwitch = false;
					x = rows[i].getElementsByTagName("TD")[n];
					y = rows[i + 1].getElementsByTagName("TD")[n];
					if (dir == "asc") {
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
							shouldSwitch= true;
							break;
						}
					} else if (dir == "desc") {
						if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
							shouldSwitch= true;
							break;
						}
					}
				}
				if (shouldSwitch) {
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
					switchcount ++; 
				} else {
					if (switchcount == 0 && dir == "asc") {
						dir = "desc";
						switching = true;
					}
				}
			}
		}
		
		function tableSearch() {
  			var input, filter, table, tr, td, i;
  			input = document.getElementById("myInput");
  			filter = input.value.toUpperCase();
  			table = document.getElementById("authorsTable");
 			tr = table.getElementsByTagName("tr");
  			for (i = 0; i < tr.length; i++) {
   				td = tr[i].getElementsByTagName("td")[0];
    			if (td) {
     				if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
       					tr[i].style.display = "";
      				} else {
        				tr[i].style.display = "none";
      				}
    			} 
  			}
		}
	</script>


	</head>


	<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">CS329E</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('about')}}">About Us</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
		  </ul>
		</div>
	  </div>
	  </nav>

		<div id="title" class="text-center title">
      	<br>
	<div class = "text-center title">
			<br>
			<h1>Authors</h1>
			<h4> Click on the table heading to sort (1 click: A-Z, 2nd click: Z-A)</h4>
			
			
		</div>

         </div>

		<div class = "container-field">
			<p class = "text-center title">"Discover a world of new authors!" </p>
		</div>
	<div>
			<a href="{{url_for('index')}}">Main Menu</a>
    	</div>
	<hr>
      		<div class="input-group">
        		<input type="text" id = "myInput" onkeyup="tableSearch()" class="form-control" placeholder="Search by author name...">
     		</div>

	<br>

			<table id=authorsTable class="table table-hover">
				<tr>
					<th onclick = "sortTable(0)">Author Name</th>
					<th onclick = "sortTable(1)">Date of Birth</th>
					<th onclick = "sortTable(2)">Alma Mater</th>
					<th onclick = "sortTable(3)">Nationality</th>
					<th onclick = "sortTable(4)">Education</th>
				</tr>
				{% for i in authors[50:] %}
					<tr>
						<td><a data-name = "{{i.name}}" href="{{url_for('singleauthor', author_id = i.id)}}">{{i.name}}</a></td>
						<td>{{i.born}}</td>
						<td>{{i.alma_mater}}</td>
						<td>{{i.nationality}}</td>
						<td>{{i.education}}</td>
					</tr>
				{% endfor %}
		</div>
		<ul class="pagination">
			<li><a href="{{url_for('authors')}}">1</a></li>
			<li><a href="{{url_for('authors2')}}">2</a></li>
			<li><a href="{{url_for('authors3')}}">3</a></li>
		</ul>
	</body>
</html>
<!-- end of authors3.html -->

