<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3{
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
  }
  .nav-tabs li a {
      color: #777;
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  </style>
</head>

<body>

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">CS329E</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
				<li><a href="{{url_for('index')}}">Home</a></li>
				<li><a href="{{url_for('about')}}">About Us</a></li>
				<li><a href="{{url_for('authors')}}">Authors</a></li>
				<li><a href="{{url_for('publishers')}}">Publishers</a></li>
				<li><a href="{{url_for('books')}}">Books</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
				</ul>
			</div>
			</div>
			</nav>

	<script type="text/javascript">
		function sortTable(n) {
			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
			table = document.getElementById("publishersTable");
			switching = true;
			dir = "asc"; 
			while (switching) {
				switching = false;
				rows = table.getElementsByTagName("TR");
				for (i = 1; i < (rows.length - 1); i++) {
					shouldSwitch = false;
					x = rows[i].getElementsByTagName("TD")[n];
					y = rows[i + 1].getElementsByTagName("TD")[n];
					if (dir == "asc") {
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
							shouldSwitch= true;
							break;
						}
					} else if (dir == "desc") {
						if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
							shouldSwitch= true;
							break;
						}
					}
				}
				if (shouldSwitch) {
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
					switchcount ++; 
				} else {
					if (switchcount == 0 && dir == "asc") {
						dir = "desc";
						switching = true;
					}
				}
			}
		}
		function tableSearch() {
  			var input, filter, table, tr, td, i;
  			input = document.getElementById("myInput");
  			filter = input.value.toUpperCase();
  			table = document.getElementById("publishersTable");
 			tr = table.getElementsByTagName("tr");
  			for (i = 0; i < tr.length; i++) {
   				td = tr[i].getElementsByTagName("td")[0];
    			if (td) {
     				if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
       					tr[i].style.display = "";
      				} else {
        				tr[i].style.display = "none";
      				}
    			} 
  			}
		}
	</script>


	</head>
	

		<div class = "text-center title">
			<br>
			<h1>Publishers</h1>
			<h4> Click on the table heading to sort (1 click: A-Z, 2nd click: Z-A)</h4>
			<p class = "lead">"Discover a world of new publishers!!" </p>
		</div>
	<div>
			<a href="{{url_for('index')}}">Main Menu</a>
	</div>
	<hr>
      		<div class="input-group">
					<div class = "text-center title">
        		<input type="text" id = "myInput" onkeyup="tableSearch()" class="form-control" placeholder="Search by publisher name...">
				 </div>
				 </div>
	<br>

			<table id="publishersTable" class= "table table-hover">
				<tr>
					<th onclick = "sortTable(0)">Author Name</th>
					<th onclick = "sortTable(1)">Owner</th>
				</tr>
				{% for i in publishers[30:] %}
					<tr>
						<td><a data-name = "{{i.name}}" href="{{url_for('singlepublisher', pub_id = i.id)}}">{{i.name}}</a></td>
						<td>{{i.owner}}</td>
					</tr>
				{% endfor %}


		</div>
		<ul class="pagination">
			<li><a href="{{url_for('publishers')}}">1</a></li>
			<li><a href="{{url_for('publishers2')}}">2</a></li>
			<li><a href="{{url_for('publishers3')}}">3</a></li>
		</ul>
	</body>
</html>
<!-- end of publishers3.html -->
