<html>
	<head>
	<title>{{ publisher.name }}</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3{
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
  }
  .nav-tabs li a {
      color: #777;
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  table {
      width: 1000px;
      float: left;
      margin: 30px 90px;
  }

  </style>
	</head>
	<hr />
	<body>
			<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">CS329E</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('about')}}">About Us</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
		  </ul>
		</div>
	  </div>
	  </nav>


		<div class = "text-center title">
			<br>
			<h1>{{publisher.name}}</h1>
		</div>

         </div>
	<br>
	<div>
			<a href="{{url_for('index')}}">Main Menu</a>
    	</div>

	<hr>
	<body>
		<table BORDER = "2"> 
			<tr>     
				<th COLSPAN="2">
					<h3><br/>{{publisher.name}}</h3>
				</th>
			</tr>
			<tr>
		  		<td>Owner</td>
		  		<td>{{ publisher.owner }}</td>
			</tr>			
			<tr>
		  		<td>Description</td>
		  		<td>{{ publisher.description }}</td>

			</tr>
			<tr>
		  		<td>Wikipedia</td>
		  		<td><a href="{{ publisher.wikipedia_url }}">wiki</a></td>
			</tr>
			
			<tr>
		  		<td>Website</td>
		  		<td><a href="{{ publisher.website }}">website</a></td>
			</tr>

			<tr>
		  		<td>Books</td>
		  		<td><ul>
				
				{% for i in books %}
					{% if i.pub_id == publisher.id %}
						<li><a href="{{url_for('singlebook', book_id = i.id)}}">{{i.title}}</a></li>
					{% endif %}
				{% endfor %}

				</ul></td>
			</tr>
			<tr>
		  		<td>Image</td>
		  		<td><img src="{{ publisher.image_url }}"></td>
			</tr>

    		</table>
	</body>
</html>


